.main{
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar{
display: none;
}
@media (max-width:1300px){
    html{
        font-size: 15px;
    }
}
@media (max-width:1200px){
    html{
        font-size: 12px;
    }
}
@media (max-width:929px){
    html{
        font-size: 10px;
    }
}
