*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 5rem;
   align-items: center;
   padding-left: 4rem ;
   background: rgb(12,5,71);
   background: linear-gradient(170deg, rgba(12,5,71,1) 0%, rgba(2,21,88,1) 47%, rgba(27,41,163,1) 100%);
}
.img{
    height: 4rem;
}
.innerBox{
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    color: white;


}
.innerBox h4{
    font-weight: 100;
    padding: .5rem;
}
.active{
    border-bottom: 2px solid yellow;
    color: yellow;
}

@media (max-width:600px){
    .main{
        height: 7rem;
    }
}