
.main{
    height: max-content;
    display: flex;
    width: 100vw;
    background-blend-mode: multiply;
    background-color: rgb(57, 65, 98);
    color: white;
    background-image: url(../../Image/bg.png);
    background-size: cover;
}
.leftBox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem;
    margin-top: 4rem;
}
.leftBox span{
    width: 35rem;
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.leftBox p{
    width: 30rem;
    text-align: left;
    margin-top: 1rem;
    z-index: 1;
    font-size: 1.5rem;
}
.rightBox{
    width: 50%;
    height: 100%;
    padding: 4rem 0rem;
}


  
@media (max-width:786px){
    .main{
        flex-direction: column;

    }
    html{
        font-size: 15px;
    }
    .leftBox{
        width: 100vw;
    }
    .rightBox{
        width: 100vw;
        align-items: center;
    }
  
}
@media (max-width:700px){
    .img{
        height: 20rem;
    }
}

@media (max-width:620px){
    .img{
        height: 20rem;
        width: 30rem;
    }
    html{
        font-size: 10px;
    }
    .leftBox{
     width: 100%;
     align-items: center;

    }
    .leftBox span{
        text-align: center;
        margin-left: -5rem;
    }
}
@media (max-width:600px){
    .btn {
       margin: 1rem;
    }
  }




.form {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 
  