.main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0rem;
}
.innerbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2rem;
    margin-top: 2rem;
}
.img{
    height: 13rem;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}
.img2{
    height: 100%;
    width: 100%;
}
.card{
    height: 30rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    gap: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color:  rgb(240, 240, 241);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    
}
.active{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: white;
 
}
.active .img{
    transform: scale(1.3);
    filter: drop-shadow(3px 8px 8px);
}

.card p{
 z-index: 3;
}

.imgbox{
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.para{
    width: 40rem;
}

@media (max-width:800px){
    .innerbox{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:713px){
    .innerbox{
        grid-template-columns: 1fr ;
    }
    .card{
        width: 30rem;
        height: 33rem;
    }
}
@media (max-width:620px){

    .card{
        width: 40rem;
        height: 30rem;
    }
    .para{
        width: 30rem;
    }
}
@media (max-width:446px){
    .innerbox{
        width: 100vw;
        place-content: center;
        place-items: center;
    }
    .card{
        width: 30rem;
        height: 30rem;
    }
}