.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    overflow: hidden;
    width: 100vw;
}
.para{
margin-top: -1rem;
width: 40rem;
}

.container{
    display: flex;
    padding: 1rem 3rem;
    background-color: aliceblue;
    width: 100vw;
}
.rightbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30rem;
    place-items: center;
    padding-top: 3rem;
}
.rightbox div{
    height: 9rem;
    width: 10rem;
    border-radius:10px ;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.rightbox h3{
    position: absolute;
    margin-top: -35rem;
}
.rightbox div img{
    height: 3rem;
}
.formbox{
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 
    .rightbox  {
        perspective: 500px;
      }
      
      .rightbox div {
        width: 200px;
        height: 150px;
        border-radius: 4px;
        position: relative;
        transform-style: preserve-3d;
        will-change: transform;
        transition: transform .5s;
      }
      
      .rightbox div:hover {
        transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
      }
      .rightbox div:hover .img  {
        transform: translateZ(100px);
        filter: drop-shadow(1px 5px 6px);
        transform: translateY(-10%);
        transition: transform .5s;
        position: absolute;
      }
      
    
      @media (max-width:1279px){
        .rightbox {
          display: none;
        }
        .container{
           display: flex;
           padding-left: 18rem;
        }

      }  
  
    
      @media (max-width:786px){

        .container{
           display: flex;
           padding-right:25rem ;
        }

      }  
      @media (max-width:451px){
        .main h1{
   width: 35rem;
        }
        .main p{
   width: 30rem;
        }
      }
    