.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    overflow: hidden;
    width: 100vw;
}
.para{
margin-top: -1rem;
width: 40rem;
}

.container{
    display: flex;
    padding: 1rem 3rem;
    background-color: aliceblue;
    width: 100vw;
}
.rightbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30rem;
    place-items: center;
    padding-top: 3rem;
}
.rightbox div{
    height: 9rem;
    width: 12rem;
    border-radius:10px ;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.rightbox h3{
    position: absolute;
    margin-top: -35rem;
}
.rightbox div img{
    height: 3rem;
}
.formbox{
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 