.main{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding: 3rem 0rem;
    gap: 4rem;
    width: 100vw;

}
.card_container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    gap: 2rem;
}
.card{
    height: 15rem;
    border-radius: 15px;
    padding: 1rem;
    /* color: white; */
    display: flex;
    filter: drop-shadow(0px 3px 5px black);
    flex-direction: column;
    overflow: hidden;
    text-align: left;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(209,220,221,1) 100%, rgba(255,255,255,0.11808473389355745) 100%);
}

.des{
    height: 7rem;
    overflow: hidden;
}
@media (max-width:620px){
    .card_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        gap: 2rem;
        height: max-content;
    }
    .des{
        height: max-content;
        overflow: hidden;
    }
    .main h2{
    width: 30rem;
    text-align: center;
    }
 
}
@media (max-width:446px){

}